$yellow: #FFCC15;
$red: #E44C4C;
$black: #000000;
$white: #ffffff;
$green: #6AC068;
$grey: #6D6D6D;

$font: 'Open Sans', sans-serif;
$font-color: $black;
$font-size: 16px;

:root {
   --primary-color: $yellow;
}